<h1>Questionario</h1>
<div class="form-container">
        <h3>Digite questões a serem salvas</h3>
    <form method="post">
        <div class="form-group">
            <label for="questao">Questão</label>
            <input type="text" id="questao" class="form-control" ng-model="vm.questao.questao" required />
        
        </div>
        <button class="btn btn-primary" ng-click="vm.saveQuestionario()">Save</button>
        <div>
            <table>
                <tr ng-repeat="x in vm.questao">
                    <td>{{ x.questao }}</td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <button class="btn btn-danger" ng-click="vm.deleteQuestao()">Delete</button>
        </div>
        <div class="question-saved">
            {{vm.questao}}
        </div>
        </form>
        </div>