<h1>Questionario</h1>
<div class="form-container">
        <h3>Digite questões a serem salvas</h3>
    <form method="post">
        <div class="form-group">
            <label for="questao">Questão</label>
            <input type="text" id="questao" class="form-control" ng-model="vm.questao.questao" required />
        
        </div>
        <button class="btn btn-primary" ng-click="vm.saveQuestionario()">Save</button>
        <div>
            <table style="
            border-collapse: collapse;
            width: 100%;
        ">
                <tr ng-repeat="x in vm.allQuestion">
                    <td style="
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                ">{{ x.questao }}</td>
                    <td style="
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                ">{{ x._id }}</td>
                    <td style="
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                ">  <button class="btn-danger" ng-click="vm.deleteQuestionario(x._id)">Delete</button> </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
           
        </div>
        </form>
        </div>